<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestNG Learning">


    




<test name="login test cases">
    <classes>
        <class name="com.Login" ></class>  
    </classes>
</test>

<test name="Signup test cases">
    <classes>
        <class name="com.Signup" ></class>  
    </classes>
</test>




</suite>
